---
layout: default
title: The Thought Archive
---
	<h1>{{ page.title }}</h1>
	<p>
		Greetings visitor.<br>
		You are currently viewing the home page of my blog : The Thought Archive.
		<br><br>
		Disclaimer : Any comments made here or thoughts shared in this blog or on this website are completely personal and do not reflect the opinion of any organization I am associated with.
		This blog is a place where I write about technical topics and try to share whatever knowledge I have, you are free to consider it as an archive of all my technical knowledge.<br>
		Below is a list of blogs filtered according to the broad category of topics I write about.<br>
	</p>
	<h2>Topics</h2>
	<ol>
		<li><h3>Artificial Intelligence</h3>
		<ol>
			<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/blog/2021/07/05/filter-bubbles/">Privacy, Internet & Filter Bubbles: When Technology Backfires.</a></li>
			<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/blog/2021/07/05/machine-learning-introduction/">Machine Learning : A Brief introduction.</a></li>
		</ol>
		</li>
		<li>
			<h3>Cybersecurity</h3>
			<ol>
				<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/blog/2021/05/29/virtual-cybersecurity-lab/">Creating a Cybersecurity Lab at Home.</a></li>
			</ol>
		</li>
		<li><h3>Space</h3>
			<ol>
				<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/blog/2021/07/05/pslv-introduction/">PSLV : A Brief Introduction.</a></li>
			</ol>
		</li>
		<li><h3>Technical Stuff. (Miscellaneous Content)</h3></li>
	</ol>
	<p>
		You can find a history of all the blogs I have written <a href = "https://lakshy-sharma.github.io/The-Thought-Archive/blog/posts_list/">here</a>.<br>
	</p>