<!DOCTYPE html>
    <html>
        <head>
	    	<title>{{ page.title }}</title>
	    	<!--link to main stylesheet-->
			<link id="theme" rel="stylesheet" type="text/css" href="/The-Thought-Archive/assets/css/main.css">
			<!--link to javascript handler for themes-->
			<script src="/The-Thought-Archive/assets/scripts/theme.js"></script>
		</head>
		<body>
			<header>
				<nav>
					<ul>
						<li><a href="/The-Thought-Archive/">About</a></li>
						<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/my_projects.html">My Projects</a></li>
						<li><a href="/The-Thought-Archive/blog/">My Blog</a></li>
						<li><button id="theme-toggle">Toggle Theme</button></li>
					</ul>
				</nav>
			</header>
			<hr>
			<main>
				<div class="container">
					{{ content }}
				</div>
			</main>
			<footer>
				<ul>
					<li><a href="https://github.com/lakshy-sharma">My Github</a></li>
					<li><a href="https://lakshy-sharma.github.io/The-Thought-Archive/blog/atom.xml">Subscribe</a></li>
					<li><a href="mailto:lakshy.sharma@protonmail.com">Contact Me</a></li>
				</ul>
			</footer>
		</body>
	</html>
